	 /* Listing Preview Styles */
	 .listing-prev {
	 	background: #fff;
	 	border: 1px solid #ccc;
	 	border-radius: 5px;
	 	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	 	padding: 20px;
	 	display: flex;
	 	justify-content: space-between;
	 	align-items: center;
	 	margin: 20px auto;
	 	width: 80%;
	 	/* Expand to container width */
	 	max-width: 900px;
	 	/* Adjust as needed */
	 	cursor: pointer;

	 	&:hover {
	 		box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
	 		transform: translateY(-2px);
	 		transition: box-shadow 0.3s ease, transform 0.3s ease;
	 	}

	 	.left-items,
	 	.right-items {
	 		display: flex;
	 		flex-direction: column;
	 		gap: 0.5rem;

	 		.listing-company {
	 			font-weight: bold;
	 			font-size: 1.8rem;
	 			color: #333;
	 		}

	 		.listing-position {
	 			font-size: 1.5rem;
	 			color: #555;
	 		}

	 		.listing-comments {
	 			font-size: 0.85rem;
	 			color: #777;
	 		}

	 		.listing-rating {
	 			font-size: 1rem;
	 			color: #555;
	 		}
	 	}
	 }