@import 'variables.scss';
@import 'home_page.scss';
@import 'popup.scss';
@import 'main_header.scss';
@import 'search_bar.scss';
@import 'comment.scss';
@import 'listing_prev.scss';
@import 'login.scss';
@import 'listing.scss';

body {
	font-family: sans-serif;
	text-align: center;
	margin: 0;
}
