$primary-color: #3d7e9c;
$header-background-color: $primary-color;
$header-text-color: #fff;
$toggle-inactive-background: #ccc;
$toggle-active-background: #5cb85c;
$button-hover-color: darken(#fff, 25%);